<header>
    <nav>
        <button>
            <img src="/images/icons/hamburgerstreep.svg" alt="Hamburgermenu">
            <img src="/images/icons/hamburgerstreep.svg" alt="">
            <img src="/images/icons/hamburgerstreep.svg" alt="">
        </button>
        <p>Friendies</p>
        <div><img src="{{user.profielfoto}}" alt=""></div>
    </nav>
</header>